.preloader {
    display: block;
    font-size: 0px;
    padding: 0px;
    margin: 10% auto;
    width: 80px;
 }
 .preloader span {
    vertical-align: middle;
    border-radius: 100%;
    background: #777777c7;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px 2px;
    -webkit-animation: preloader 0.8s linear infinite alternate;
    animation: preloader 0.8s linear infinite alternate;
 }
 .preloader span:nth-child(1) {
    -webkit-animation-delay: -0.8;
    animation-delay: -0.8s;
 }
 .preloader span:nth-child(2) {
    -webkit-animation-delay: -0.53333s;
    animation-delay: -0.53333s;
 }
 .preloader span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
 }
 @keyframes preloader {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes preloader {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }